@page "/Index/Compras/"
@rendermode InteractiveServer
@inject CompraServices compraService 

@attribute [Authorize(Roles = "Admin")]

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<EditForm Model="ListaCompras" class="border shadow-lg p-3 rounded">

    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Compras</h3>
    </div>
    <div class="card-body">

        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                    <option value="total">Total</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Busqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>

                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/Create/Compras" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>

        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>ID de Compra</th>
                <th>Comprador</th>
                <th>Vendedor</th>
                <th>Total</th>
                <th>Detalle</th>
                <th>Editar</th>                
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var compra in ListaCompras)
            {
                <tr>
                    <td>@compra.CompraId</td>
                    <td>@compra.Comprador</td>
                    <td>@compra.Vendedor</td>
                    <td>@compra.Total</td>

                    <td>
                        <a class="btn btn-outline-primary" href="/Details/Compras/@compra.CompraId">
                            <span class="bi bi-card-heading fs-5"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-success" href="/Edit/Compras/@compra.CompraId">
                            <span class="bi bi-pencil fs-5"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-danger" href="/Delete/Compras/@compra.CompraId">
                            <span class="bi bi-trash fs-5"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
@code {
    public Compras compras = new Compras();

    public List<Compras> ListaCompras = new List<Compras>();

    private string filtro { get; set; } = "Id";
    private string valorFiltro { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        ListaCompras = await compraService.Listar(t => true);
    }

    public async Task Guardar()
    {
        var guardo = await compraService.Guardar(compras);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int CompraId))
            {
                ListaCompras = await compraService.Listar(c => c.CompraId == CompraId);
            }
            else if (filtro == "comprador")
            {
                ListaCompras = await compraService.Listar(c => c.Comprador == valorFiltro);
            }
            else if (filtro == "vendedor")
            {
                ListaCompras = await compraService.Listar(c => c.Vendedor == valorFiltro);
            }
            else if (filtro == "total" && int.TryParse(valorFiltro, out int Total))
            {
                ListaCompras = await compraService.Listar(c => c.Total == Total);
            }
        }
        else
        {
            ListaCompras = await compraService.Listar(t => true);
        }
    }
}