@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmacion de olvido de contraseña</PageTitle>

<h1>Confirmacion de reinicio de contraseña</h1>
<p>
    Por favor, verifica tu correo electronico para restaurar tu contraseña.
</p>
