@page "/Account/InvalidPasswordReset"

<PageTitle>Restauracion de contraseña invalido</PageTitle>

<h1>Restauracion de contraseña invalido</h1>
<p>
    El enlace de restauracion de tu contraseña no es valido.
</p>
