@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmacion de restablecer contraseña</PageTitle>

<h1>Confirmacion de reestablecimiento de la contraseña</h1>
<p>
    Tu contraseña a sido reestablecida, por favor <a href="Account/Login">Haz click aqui para iniciar sesion</a>.
</p>
