@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bienvenid@s a VentasSyM</h1>

<h3>Este proyecto ha sido desarrollado por:</h3> <br/> 
<h5>Juan Sebasti&aacute;n Suarez Brito: [Matricula pendiente]</h5> <br />
<h5>Marcos Dur&aacute;n De la cruz: 2020-0399</h5>
